.box {
  border: 1px solid black;
  width: 600px;
  height: 500px;
  margin: auto;
  margin-top: 70px;
  border-radius: 5px;
}
.col {
  text-align: center;
}
.input-group {
  padding-top: 25px;
}
.searchbar {
  width: 90%;
  border-radius: 5px;
  border: 3px solid #48484a;
}
.searchbar:focus {
  outline: none;
  box-shadow: 0px 0px 9px 0px #48484a;
}
.button {
  background-color: white;
  border: 3px solid #48484a;
  border-radius: 5px;
  border-left: 0;
  padding: 0px 19px;
}
.button:hover {
  background-color: #48484a;
  transition: all 150ms ease-in-out;
}
.maincity {
  text-align: center;
  padding-top: 80px;
}
.maincitynamepin {
  font-size: 40px;
  font-weight: 500;
}
#maincityname {
  padding-left: 4px;
  text-transform: capitalize;
}
.maincitytemp {
  padding-left: 70px;
  font-size: 20px;
  text-align: left;
}
.pin {
  color: #48484a;
}

.maininfo {
  text-align: left;
  font-size: 20px;
  padding-top: 25px;
}
#last-update {
  font-size: 17px;
  padding-top: 35px;
  text-align: center;
}
#description::first-letter {
  text-transform: capitalize;
}
.mainicon {
  font-size: 80px;
  color: #f0d78c;
}
#mainicon {
  padding-bottom: 33px;
}
.futuredays {
  padding-top: 50px;
}
.day {
  font-size: 30px;
}
.icon {
  font-size: 30px;
  color: #f0d78c;
}
.temp {
  font-size: 16px;
}
#moreInfo {
  text-align: center;
  font-family: monospace;
  margin-top: 20px;
}
#srcLink {
  color: #48484a;
}
